In [10]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix,recall_score,precision_score

In [11]:
df = pd.read_csv('data/admissions.csv')
df.head()

   admit  gre   gpa  prestige
0      0  380  3.61         3
1      1  660  3.67         3
2      1  800  4.00         1
3      1  640  3.19         4
4      0  520  2.93         4

In [12]:
df[['A','B','C','D']] =pd.get_dummies(df['prestige'])

In [13]:
df.head()

   admit  gre   gpa  prestige  A  B  C  D
0      0  380  3.61         3  0  0  1  0
1      1  660  3.67         3  0  0  1  0
2      1  800  4.00         1  1  0  0  0
3      1  640  3.19         4  0  0  0  1
4      0  520  2.93         4  0  0  0  1

In [14]:
y = df['admit']
X = df[['A','B','C','D','gre','gpa']]

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.10,random_state = 42)

In [16]:
#Fit the model on train data
log_mod = LogisticRegression()
log_mod.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [17]:
# predict on test Data
y_preds = log_mod.predict(X_test)

In [20]:
#Use metrics to see how well model is performing
print(precision_score(y_test,y_preds))
print(accuracy_score(y_test,y_preds))
print(recall_score(y_test,y_preds))
confusion_matrix(y_test,y_preds)

0.75
0.65
0.1875

array([[23,  1],
       [13,  3]], dtype=int64)