In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

np.random.seed(42)

coffee_full = pd.read_csv('../data/coffee_dataset.csv')
coffee_red = coffee_full.sample(200) #this is the only data you might actually get in the real world.

In [2]:
coffee_red.head()

      user_id   age  drinks_coffee     height
2402     2874   <21           True  64.357154
2864     3670  >=21           True  66.859636
2167     7441   <21          False  66.659561
507      2781  >=21           True  70.166241
1817     2875  >=21           True  71.369120

In [4]:
1-coffee_red.drinks_coffee.mean()

0.405

In [5]:
1-.405

0.595

In [6]:
coffee_red[coffee_red['drinks_coffee']== True]['height'].mean()

68.11962990858618

In [7]:
coffee_red[coffee_red['drinks_coffee']== False]['height'].mean()

66.78492279927877